babel
http://tarballs.openstack.org/ceilometer/ceilometer-master.tar.gz#egg=ceilometer
iso8601
lockfile>=0.9.1
netaddr
oslo.config>=1.4.0.0a1
oslo.db>=0.5.0
oslo.utils
oslotest
pandas
pecan
posix_ipc
python-swiftclient
requests
six
sqlalchemy
sqlalchemy-utils
stevedore
tooz>=0.4
voluptuous
werkzeug
