{% extends "basic.j2" %}

{% block head %}
<link href="/static/css/c3.min.css" rel="stylesheet" type="text/css">
{% endblock head %}

{% block body %}
<script src="/static/js/d3.min.js" charset="utf-8"></script>
<script src="/static/js/c3.min.js"></script>
<script src="/static/js/gnocchi.js"></script>
<div class="container-fluid">
  <div class="page-header">
    <h1>Resource {{ display_name }}</h1>
  </div>

  <div class="page-body">
    <dl>
      <dt>id</dt>
      <dd>{{ id }}</dd>

      <dt>started_at</dt>
      <dd>{{ started_at.strftime('%Y-%m-%d %H:%M:%S') }}</dd>

      {%- if ended_at -%}
      <dt>ended_at</dt>
      <dd>{{ ended_at.strftime('%Y-%m-%d %H:%M:%S') }}</dd>

      {% endif %}
      <dt>type</dt>
      <dd>{{ type }}</dd>

      <dt>metrics</dt>
      <dd>
        <ul>
          {% for key, value in metrics.iteritems() %}
            <li>
              <a href="/v1/metric/{{ value | e }}/measures">{{ key | e }}</a>
              <div id="{{ key|e }}-chart"></div>
            </li>
          {% endfor %}
        </ul>
      </dd>

      <dt>user_id</dt>
      <dd>{{ user_id }}</dd>

      <dt>project_id</dt>
      <dd>{{ project_id }}</dd>

      <dt>created_by_project_id</dt>
      <dd>{{ created_by_project_id }}</dd>

      <dt>created_by_user_id</dt>
      <dd>{{ created_by_user_id }}</dd>
    </dl>
    </div>
  </div>

<script>
$(function () {
    var metrics = {{ metrics|tojson }}
    $.each(metrics, function(name, id) {
        url = '/v1/metric/' + id + '/measures'
        $.get(url, function(measures) {
            drawGraph('#' + name + '-chart', measures)
        });
    });
});
</script>
{% endblock body %}
